[options]
#go2epa steps. 0 or 3
steps=0
export_subcatch=False

#UD
#--------------------------------------
[list1]
query=UPDATE raingage SET timser_id = '$list1object'
list=5mm, 10mm, 20mm, T2

[list2]
query= "DELETE FROM selector_inp_dscenario WHERE cur_user=current_user; INSERT INTO selector_inp_dscenario SELECT unnest('{$list2object}'::integer[]), current_user";
list="", "31,32,33", "41,42,43,44", "51,52", "61", "71,72,73,74,75,76"

[list3]
query=UPDATE v_edit_inp_dscenario_lid_usage SET numelem = $list3object
list=1


#WS
#--------------------------------------
#[list1]
#query=UPDATE inp_junction SET demand = '$list1object'
#list=0, 0.01, 0.1, 1, 0
#
#[list2]
#query= "UPDATE node SET obse FROM selector_inp_dscenario WHERE cur_user=current_user; INSERT INTO selector_inp_dscenario SELECT unnest('{$list2object}'::integer[]), current_user";
#list="31,32,33", "41,42,43,44", "51,52", "61", "71,72,73"
#
#[list3]
#query=UPDATE v_edit_inp_dscenario_lid_usage SET numelem = $list3object
#list=1,2

